:root {
--primary-color: #D8B6A4;
--secondary-color: #51050F;
--button-color: #FCFFA6;
--border-color: #9D9D9D;
--gradient: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
}


h1,
h2,
h3 {
  text-align: center;
  color: var(--secondary-color);
  font-family: 'Playfair Display', serif;
}



p {
  font-family: 'Poppins', sans-serif;
}

.header {
  font-family: 'Poppins', sans-serif;
  color: black;
  line-height: 42px;
  font-size: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  line-height: 42px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav a:hover {
  cursor: pointer;
}

nav li.active a {
  color:var(--border-color);
}

.hero {
  background: var(--primary-color);
}

.tokidoki-logo {
  max-width: 200px;
  display: block;
  margin: auto;
  padding-top: 15px;
  
}

.contact-button {
  background: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  color: var(--secondary-color);
  padding: 10px;
  display: block;
  margin: auto;
}

.contact-button:hover {
  cursor: pointer;
}

.get-in-touch {
  background: var(--primary-color);
}

.email,
.instagram {
  display: block;
  margin: auto;
}

@media (min-width: 1000px){
  .about-me {
    font-size: large;  
  }
}

@media (max-width: 1000px){
  .about-me {
    padding-top: 20px;

  }
}